  <form [formGroup]="shahkar"
  class="flex items-center flex-col border-2 p-6 rounded-2xl overflow-hidden bg-white w-full gap-4"
        (submit)="submit()">

  <div class="flex flex-col gap-4 items-center mb-4">
    <h2 class="text-3xl font-bold">
      تأیید هویت
    </h2>
    <p class="">.لطفاً امضای خود را با دقت وارد کنید</p>
  </div>

<app-input formControlName="nationalNumber" class="w-full">کد ملی</app-input>
<app-input formControlName="phoneNumber" class="w-full">شماره موبایل</app-input>

  <app-button class="w-full" type="submit">ثبت</app-button>
  </form>
